body{
  background-color: rgb(219, 219, 219) !important;
}


.logo {
  width:90px;
  height: 90px!important;
  margin-top: -120px; 
  margin-bottom: -120px;
  }

  .nav-item{
    font-size: 10pt;
  }
 
  .btn{
    width: 120px;
    height: 50px;
    padding-top: 10px;
    font-size: 100;
  }

  .nav-item{
    margin-top: 70px;
  }